body {
    font-family: "Nunito", serif;
    margin: 0;
    padding: 0;
    background-color: rgb(254, 255, 244);

}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
   
}

#button {
    display: flex;
    align-items: center;
    gap: 20px;
    position: relative; 

}

#toggle {
    background-color: rgb(255, 243, 177);
    height: 40px;
    width: 100px;
    border-radius: 30px;
    position: relative;
}

#sun svg {
    width: 35px;
    height: 35px;
    position: absolute; 
    left: 5px; 
    top: 50%; 
    transform: translateY(-50%);
}

#moon svg {
    width:20px;
    height: 20px;
    fill: rgb(54, 54, 179);
    position: absolute; 
    right: 10px; 
    top: 50%; 
    transform: translateY(-50%);
    

}

h3 {
    font-weight: 400;
    text-transform: lowercase;
    color:rgb(255, 165, 31);
}
/* Dark mode styles */
.toggle {
    background-color: rgb(78, 78, 169);
}

body.dark-mode .sun svg {
    display: none;
}

body.dark-mode .moon svg {
    display: block;
}
.hidden {
    display: none;
}